@import "../saas.config/color.scss";
@import "../saas.config/color.scss";
@import "../saas.config/color.scss";


html, body{
    margin-bottom: 15rem;
    height: 100%;
}

.footer{
    padding: 10px;
    text-align: center;
    background-color: $primary_light;
    width: 100%;
    max-width: 100%;
    

    p{
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        color: $primary;
        color: #fff;
    }
}