@mixin flex($justify:center) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-flow: row wrap;
    
};

@mixin breakpoints($point) {
    @if $point == mobile {
        @media screen and (min-width:320px) {
            @content;
        }
    }
    @if $point == tablet {
        @media screen and (min-width:768px) {
            @content;
        }
    }
    @if $point == laptop {
        @media screen and (min-width:1224px) {
            @content;
        }
    }
    @if $point == desktop {
        @media screen and (min-width:1824px) {
            @content;
        }
    }
    
}